.main {
    background-color: #f1f1f1;
    padding: 35px 0 0 0;
}

.tag_tit {
    margin: 0;
}

.tag_tit {
    font-weight: 400;
    width: 65px;
    font-size: 15px;
    display: inline-block;
}

.tag_item {
    color: #333;
    padding: 0 6px;
    margin: 0 20px 15px 0;
    text-decoration: none!important;
    display: inline-block
}

.tag_item:hover {
    color: #31c27c;
}

.tag_item_click {
    color: white!important;
    /*height: 26px;
    width: 40px;*/
    padding: 0 6px;
    margin: 0 20px 15px 0;
    text-decoration: none!important;
    background-color: #31c27c;
    line-height: 26px;
    display: inline-block
}

.tag_item_list {
    color: #333;
    padding: 0 6px;
    margin: 3px 20px 15px 0;
    text-decoration: none!important;
    display: inline-block
}

.tag_item_list:hover {
    color: white;
}

.sup {
    color: white!important;
    /*height: 26px;
    width: 40px;*/
    padding: 0 6px;
    margin: 0 20px 15px 0;
    text-decoration: none!important;
    background-color: #31c27c;
    line-height: 26px;
    display: inline-block
}

.sup:hover {
    color: white;
}

.sup::after {
    content: "∧"
}

.sub::after {
    content: "∨"
}


/*---------------------------------隐藏选项------------------------------*/

.popup_list {
    position: absolute;
    height: auto;
    clear: both;
    background-color: white;
    box-shadow: 1px 0 10px #ccc;
    padding: 19px 0 5px 0;
    line-height: 26px;
    padding-left: 65px;
    z-index: 100;
}


/*--------------------------------最新最热选择----------------------------------------*/

.part_detail_hd {
    position: relative;
    padding: 10px 0;
}

.part_detail_tit {
    display: inline-block;
}

.part_detail_tit>span {
    position: relative;
    font-size: 5px;
    line-height: 38px;
    margin: 8px 6px 0 0;
    padding: 0 25px 0 10px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    font-size: 5px!important;
    display: none;
}

.part_detail_tit>span>a {
    position: relative;
    font-size: 5px;
    top: 50%;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    text-decoration: none!important;
    color: #333;
}

.part_detail_tit>span>a:hover {
    background-color: #c9c9c9;
    color: white;
}

.part_switch {
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    display: flex;
}

.part_switch_item_action {
    background-color: #31c27c;
    color: white;
    border: 1px solid #31c27c;
    display: inline-block;
    height: 40px;
    text-align: center;
    width: 55px;
    font-size: 16px;
    border-radius: 2px;
    margin: 0;
    text-decoration: none!important;
}

.part_switch_item_action:hover {
    color: white;
}

.part_switch_item {
    background-color: white;
    color: #333;
    border: 1px solid #c9c9c9;
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    text-decoration: none!important;
}

.part_switch_item:hover {
    color: #31c27c;
}


/*-----------------------------图片------------------------------------*/

.playlist_list {
    padding: 0;
}

.playlist_item {
    display: flex;
    float: left;
    width: 20%;
    padding-bottom: 44px;
}

.playlist_cover {
    position: relative;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    transition-duration: 0.5s;
}

.playlist_cover>i {
    height: 50px;
    width: 50px;
    background-image: url(../images/play.png);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-color: #ccc;
    opacity: 0.8;
    border-radius: 50%;
    animation: scale 0.5s linear;
    display: none;
}

.playlist_title {
    font-weight: 400px;
    font-size: 16px;
    margin: 5px 0;
}

.playlist_title>a {
    color: #333;
    text-decoration: none!important;
}

.playlist_title>a:hover {
    color: #31c27c;
}

.playlist_author>a {
    color: #c0c0c0;
    font-size: 15px;
    text-decoration: none!important;
}

.playlist_author>a:hover {
    color: #31c27c;
}

.playlist_other {
    font-size: 15px;
    color: #c0c0c0;
    text-decoration: none!important;
}

.playlist_cover {
    height: 224px;
    width: 224px;
    background-size: 100% 100%;
    /*background-image: url(../album/1.jpg)*/
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.mod_page_nav {
    padding-bottom: 60px;
    text-align: center;
}

.pageindex {
    min-width: 24px;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 21px;
    font-size: 16px;
    display: inline-block;
    color: #31c27c;
    text-decoration: none!important
}

.pageindex:hover {
    background-color: #31c27c;
    color: #fff;
}

.pageindex_action {
    min-width: 24px;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 21px;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    background-color: #31c27c;
    text-decoration: none!important
}

.pageindex_action:hover {
    color: #fff;
}

.user_select {
    min-width: 24px;
    line-height: 50px;
    margin: 0 5px;
    padding: 0 21px;
    font-size: 16px;
    display: inline-block;
    color: #31c27c;
    text-decoration: none!important;
    user-select: none!important;
}