{{include 'shared/header'}}
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/header_style.css">
<link rel="stylesheet" href="/stylesheet/hover.css">
<link rel="stylesheet" href="/stylesheet/footer_style.css">
<link rel="stylesheet" href="/stylesheet/userView/signUpView.css">
<link rel="stylesheet" href="/stylesheet/userView/signInView.css">
<link rel="stylesheet" href="/stylesheet/userView/myShow.css">
</head>

<body>
    <!--导航栏-->
    {{include 'shared/header-nav'}}
    <div class="mod-top-subnav">
        <ul>
            <li class="top_subnav_link top_subnav_link_clicked"><a href="/">首页</a></li>
            <li class="top_subnav_link"><a href="musicHall/singer">歌手</a></li>
            <li class="top_subnav_link"><a href="musicHall/album">专辑</a></li>
            <li class="top_subnav_link"><a href="javascript:;">排行榜</a></li>
            <li class="top_subnav_link"><a href="javascript:;">分类歌单</a></li>
            <li class="top_subnav_link"><a href="javascript:;">MV</a></li>
        </ul>
    </div>
    <!--登录界面-->
    {{include 'user/signInView'}}
    <!--注册界面-->
    {{include 'user/signUpView'}}
    <!--首页-->
    <div style="height:3768px;width:100% ">
        <iframe src="/musicHall/homepage" frameborder="0 " style="width:100%;height:3768px "></iframe>
    </div>
    <!--底部导航-->
    {{include 'shared/footer-nav'}}
    <!---->
    {{include 'shared/footer'}}